version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10
    commit-message:
      prefix: "chore"
      include: "scope"
    labels:
      - "dependencies"
    pull-request-branch-name:
      separator: "/"
    auto-merge: true
    auto-merge-strategy: "squash"
    ignore:
      - dependency-name: "*"
        update-types: ["version-update:semver-major"]

